/.Containment_socialNetwork_personMatch.java._trace
/.Containment_socialNetwork_personMatcher.java._trace
/.Patterns_one_many_1.java._trace
/.PersonWithHouseAndCarMatch.java._trace
/.PersonWithHouseAndCarMatcher.java._trace
/.SocialNetworkMatch.java._trace
/.SocialNetworkMatcher.java._trace
