<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="hu.bme.mit.inf.dipterv1.sirius.InitEJA"
            id="hu.bme.mit.inf.dipterv1.sirius.init">
      </javaActions>
   </extension>

</plugin>
