<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_many_1" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_many_1" id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_many_1"/>
  </extension>
  <extension id="hu.bme.mit.inf.dipterv1.incquery.patterns.Others" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.dipterv1.incquery.patterns.Others" id="hu.bme.mit.inf.dipterv1.incquery.patterns.Others"/>
  </extension>
  <extension id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_one" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_one" id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_one_one"/>
  </extension>
  <extension id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_many_one" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_many_one" id="hu.bme.mit.inf.dipterv1.incquery.patterns.Patterns_many_one"/>
  </extension>
</plugin>
