/.AdultMatch.java._trace
/.AdultMatcher.java._trace
/.ChildMatch.java._trace
/.ChildMatcher.java._trace
/.FamilyMatch.java._trace
/.FamilyMatcher.java._trace
/.FriendMatch.java._trace
/.FriendMatcher.java._trace
/.Patterns_many_one.java._trace
/.Patterns_one_many_1.java._trace
/.Patterns_one_one.java._trace
/.PersonWithHouseAndCarMatch.java._trace
/.PersonWithHouseAndCarMatcher.java._trace
/.TestMatch.java._trace
/.TestMatcher.java._trace
/AdultMatch.java
/AdultMatcher.java
/ChildMatch.java
/ChildMatcher.java
/FamilyMatch.java
/FamilyMatcher.java
/FriendMatch.java
/FriendMatcher.java
/Patterns_many_one.java
/Patterns_one_many_1.java
/Patterns_one_one.java
/PersonWithHouseAndCarMatch.java
/PersonWithHouseAndCarMatcher.java
/TestMatch.java
/TestMatcher.java
/.FamilyMemberMatch.java._trace
/.FamilyMemberMatcher.java._trace
/.DescendantMatch.java._trace
/.DescendantMatcher.java._trace
/.SocialNetworkMatch.java._trace
/.SocialNetworkMatcher.java._trace
/.Containment_socialNetwork_familyMatch.java._trace
/.Containment_socialNetwork_familyMatcher.java._trace
/.Containment_socialNetwork_friendMatch.java._trace
/.Containment_socialNetwork_friendMatcher.java._trace
