/.Containment_socialNetwork_personProcessor.java._trace
/.Containment_socialNetwork_personQuerySpecification.java._trace
/.PersonWithHouseAndCarProcessor.java._trace
/.PersonWithHouseAndCarQuerySpecification.java._trace
/.SocialNetworkProcessor.java._trace
/.SocialNetworkQuerySpecification.java._trace
