<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.incquery.viewmodel.sirius.example.socialnetwork.manyone1.design.Activator" id="hu.bme.mit.inf.socialnetwork.manyone.design" name="manyone"/>
  </extension>
  <extension id="org.eclipse.incquery.viewmodel.sirius.example.socialnetwork.manyone1.design.patterns.Patterns_many_one" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.viewmodel.sirius.example.socialnetwork.manyone1.design.patterns.Patterns_many_one" id="org.eclipse.incquery.viewmodel.sirius.example.socialnetwork.manyone1.design.patterns.Patterns_many_one"/>
  </extension>
</plugin>
