<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.incquery.sirius.interpreter.IqplInterpreterProvider"
         name="IncQuery Graph Pattern language interpreter provider"
         point="org.eclipse.sirius.common.expressionInterpreter">
      <expressionInterpreterProvider
            interpreterProviderClass="org.eclipse.incquery.sirius.interpreter.IqplInterpreterProvider">
      </expressionInterpreterProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.common.proposalProvider">
      <proposalProvider
            class="org.eclipse.incquery.sirius.interpreter.IqplProposalProvider"
            interpreter="org.eclipse.incquery.sirius.interpreter.IqplInterpreter">
      </proposalProvider>
   </extension>

</plugin>
